{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Servicios</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
    
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Importancia del Gas Natural</h2>
                        </div>
                        <div class="col-12">
                            <a href=""><text-align: justify>El papel del gas natural y la relevancia actual y futura para garantizar seguridad</a>
                        </br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Single Post Start-->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-content wow fadeInUp">
                            </br>
                                <img src="{% static '/img/impor.jpg' %}" />
                            </br>
                                <h2> </br>Importancia del Gas Natural</h2>
                                <p align="justify">
                                    El gas natural es visto en la actualidad como una de las principales y más relevantes fuentes de energía, usada tanto para uso doméstico como para uso industrial o comercial, es un tipo de energía menos dañina para el medio ambiente, seguro, accesible en términos económicos y la única alternativa que, en la práctica, puede sustituir masivamente al carbón y a los petrolíferos en diversos usos.
                                </p>
                                <p align="justify">
                                    Ahora bien, es sabido que la seguridad energética, se refiere por un lado, a la capacidad que se tiene como país para mantener un superávit energético que brinde la certidumbre de que las actividades productivas podrán seguir desarrollándose con continuidad y con insumos energéticos de calidad, y por otro, en el sentido de previsión.
                                </p>
                               
                            </div>
                            
                            <div class="single-bio wow fadeInUp">
                                <div class="single-bio-img">
                                    <img src="{% static '/img/gass.jpg' %}" />
                                </br>
                                </div>
                                <div class="single-bio-text">
                                </br>
                                    <h3>¿Cuáles son los principales usos del gas natural?</h3>
                                    <p align="justify">
                                        Debido a su alto poder calorífico, a su seguridad y comodidad de uso, el gas natural tiene diversas aplicaciones en el hogar, el comercio, la industria y el transporte. Por tanto, el gas natural ofrece una amplia variedad de usos con un alto rendimiento. Te contamos por tanto cuáles son los usos mas relevantes:
                                    </p>
                                </div>
                            </div>
                            <div class="single-related wow fadeInUp">
                                <h2>Usos del gas natural</h2></br>
                                <div class="owl-carousel related-slider">
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="{% static '/img/post-1.jpg' %}"height="300" />
                                        </div>
                                        <div class="post-text">
                                            <a href=""><h3>Calefacción</h3></a>
                                            <div class="post-meta">
                                            </br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post2-img">
                                            <img src="{% static '/img/post-2.jpg' %}"height="253" />
                                        </div>
                                        <div class="post-text">
                                            <a href=""><h3>Agua caliente</h3></a>
                                            <div class="post-meta">
                                            </br> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post3-img">
                                            <img src="{% static '/img/post-3.jpg' %}" height="300" />
                                        </div>
                                        <div class="post-text">
                                            <a href=""><h3>Cocina</h3></a>
                                            <div class="post-meta">
                                            </br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post4-img">
                                            <img src="{% static '/img/post-4.jpg' %}" height="253" />
                                        </div>
                                        <div class="post-text">
                                            <a href=""><h3>Climatización</h3></a>
                                            <div class="post-meta">
                                            </br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-comment wow fadeInUp">
                                <h2>¿ Qué hacer si huele a gas?</h2>
                                <h4>Si detectas olor a gas en tu hogar, guarda la calma y sigue estos consejos:</h4>
                                <ul class="comment-list">
                                    <li class="comment-item">
                                        <div class="comment-body">
                                            <div class="comment-img">
                                                <img src="{% static '/img/cierre.jpg' %}" />
                                            </div>
                                            <div class="comment-text">
                                                <h3><a href="">Cierra de inmediato la llave de paso.</a></h3>
                                        
                                                <p align="justify">
                                                    Puede ser una válvula redonda y en otros casos, una palanca alargada. ¿Cómo cerrarla? Gira la válvula o palanca con mucho cuidado hacia la derecha. Así cortarás completamente el suministro de agua y se quedará así hasta que vuelvas a abrirlo.
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment-item">
                                        <div class="comment-body">
                                            <div class="comment-img">
                                                <img src="{% static '/img/ventila.jpg' %}"height="362" />
                                            </div>
                                            <div class="comment-text">
                                                <h3><a href="">Ventila el lugar.</a></h3>
                                                
                                                <p align="justify">
                                                    Si la fuga es de gas natural, la ventilación debe ir orientada hacia las zonas más altas de la casa, pues es mucho más ligero y tiende a subir. No enciendas ningún interruptor o electrodomésticos eléctricos mientras el lugar se esté ventilando, mucho menos velas o inciensos, para disipar el olor a gas.
                                                </p>
                                                
                                            </div>
                                        </div>
                                     
                                            <li class="comment-item">
                                                <div class="comment-body">
                                                    <div class="comment-img">
                                                        <img src="{% static '/img/encienda.png' %}" height="305"/>
                                                    </div>
                                                    <div class="comment-text">
                                                        <h3><a href="">No oprimas interruptores electricos.</a></h3>
                                                        
                                                        <p align="justify">
                                                            Si sientes olor a gas, no enciendas la luz, ni toques el interruptor, ni un fósforo, ni una linterna, ni conectes o desconectes los artefactos eléctricos.
                                                        </p>
                                                       
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="comment-form wow fadeInUp">
                                <h2>Comentanos tu experiencia con Easy gas</h2>
                                <form>
                                    <div class="form-group">
                                        <label for="name">Nombre *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Contacto</label>
                                        <input type="url" class="form-control" id="website">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Mensaje *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input name="" id="" class="btn btn-danger" type="submit" value="En construccion">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="sidebar">
                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="search-widget">
                                        <form>
                                           
                                        </form>
                                    </div>
                                </div>


                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Easy Gas</h2>
                                    <div class="text-widget">
                                        <p>
                                            La entrega segura y a tiempo en nuestras manos
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Post End-->   


            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                    <p class="copy">Easy GAS &copy; 2021</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
{% endblock %}